In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('DataSet.csv')

In [21]:
data['costs'] = data['costs'].apply(lambda x: round(x))
data['income'] = data['income'].apply(lambda x: round(x))

In [24]:
data_bel = data[data.arrival_airport == 'Belgorod']

In [37]:
data_bel[(data_bel.income < data_bel.income.mean()) & (data_bel.tickets_count < data_bel.tickets_count.mean())]

,flight_id,departure_airport,arrival_airport,scheduled_departure,scheduled_arrival,scheduled_flight_duration,actual_departure,actual_arrival,actual_flight_duration,tickets_count,...,avg_price_business_ticket,aircraft_model,aircraft_range,aircraft_seats_count,aircraft_economy_seats,aircraft_comfort_seats,aircraft_business_seats,tickets_amount,costs,income
3,136937,Anapa,Belgorod,2017-01-03T09:25:00Z,2017-01-03T10:15:00Z,3000.0,2017-01-03T09:29:00Z,2017-01-03T10:19:00Z,3000.0,81,...,18900.0,Sukhoi Superjet-100,3000,97,85,0,12,626100.0,189778,436322
4,136936,Anapa,Belgorod,2017-01-02T09:25:00Z,2017-01-02T10:15:00Z,3000.0,2017-01-02T09:28:00Z,2017-01-02T10:18:00Z,3000.0,82,...,18900.0,Sukhoi Superjet-100,3000,97,85,0,12,632400.0,190088,442312
6,136922,Anapa,Belgorod,2017-02-11T09:25:00Z,2017-02-11T10:15:00Z,3000.0,2017-02-11T09:27:00Z,2017-02-11T10:17:00Z,3000.0,76,...,18900.0,Sukhoi Superjet-100,3000,97,85,0,12,607800.0,188228,419572
9,136888,Anapa,Belgorod,2017-02-14T09:25:00Z,2017-02-14T10:15:00Z,3000.0,2017-02-14T09:29:00Z,2017-02-14T10:19:00Z,3000.0,79,...,18900.0,Sukhoi Superjet-100,3000,97,85,0,12,626100.0,189158,436942
10,136887,Anapa,Belgorod,2017-01-20T09:25:00Z,2017-01-20T10:15:00Z,3000.0,2017-01-20T09:30:00Z,2017-01-20T10:19:00Z,2940.0,78,...,18900.0,Sukhoi Superjet-100,3000,97,85,0,12,595200.0,187789,407411
14,136861,Anapa,Belgorod,2017-02-12T09:25:00Z,2017-02-12T10:15:00Z,3000.0,2017-02-12T09:28:00Z,2017-02-12T10:17:00Z,2940.0,87,...,18900.0,Sukhoi Superjet-100,3000,97,85,0,12,689100.0,190579,498521
16,136855,Anapa,Belgorod,2017-01-11T09:25:00Z,2017-01-11T10:15:00Z,3000.0,2017-01-11T12:07:00Z,2017-01-11T12:57:00Z,3000.0,87,...,18900.0,Sukhoi Superjet-100,3000,97,85,0,12,702300.0,191638,510662
17,136844,Anapa,Belgorod,2017-02-28T09:25:00Z,2017-02-28T10:15:00Z,3000.0,2017-02-28T09:26:00Z,2017-02-28T10:16:00Z,3000.0,79,...,18900.0,Sukhoi Superjet-100,3000,97,85,0,12,575100.0,189158,385942
19,136838,Anapa,Belgorod,2017-01-24T09:25:00Z,2017-01-24T10:15:00Z,3000.0,2017-01-24T09:30:00Z,2017-01-24T10:21:00Z,3060.0,86,...,18900.0,Sukhoi Superjet-100,3000,97,85,0,12,670200.0,192388,477812
21,136823,Anapa,Belgorod,2017-02-05T09:25:00Z,2017-02-05T10:15:00Z,3000.0,2017-02-05T09:27:00Z,2017-02-05T10:18:00Z,3060.0,78,...,18900.0,Sukhoi Superjet-100,3000,97,85,0,12,620400.0,189908,430492
24,136807,Anapa,Belgorod,2017-02-23T09:25:00Z,2017-02-23T10:15:00Z,3000.0,2017-02-23T09:28:00Z,2017-02-23T10:18:00Z,3000.0,68,...,18900.0,Sukhoi Superjet-100,3000,97,85,0,12,531000.0,185748,345252
29,136769,Anapa,Belgorod,2017-02-10T09:25:00Z,2017-02-10T10:15:00Z,3000.0,2017-02-10T09:30:00Z,2017-02-10T10:21:00Z,3060.0,88,...,18900.0,Sukhoi Superjet-100,3000,97,85,0,12,696000.0,193008,502992
30,136767,Anapa,Belgorod,2017-01-23T09:25:00Z,2017-01-23T10:15:00Z,3000.0,2017-01-23T09:27:00Z,2017-01-23T10:18:00Z,3060.0,83,...,18900.0,Sukhoi Superjet-100,3000,97,85,0,12,651300.0,191458,459842
36,136729,Anapa,Belgorod,2017-01-29T09:25:00Z,2017-01-29T10:15:00Z,3000.0,2017-01-29T09:29:00Z,2017-01-29T10:19:00Z,3000.0,88,...,18900.0,Sukhoi Superjet-100,3000,97,85,0,12,695400.0,191948,503452
38,136709,Anapa,Belgorod,2017-01-15T09:25:00Z,2017-01-15T10:15:00Z,3000.0,2017-01-15T09:28:00Z,2017-01-15T10:18:00Z,3000.0,87,...,18900.0,Sukhoi Superjet-100,3000,97,85,0,12,689700.0,191638,498062
40,136678,Anapa,Belgorod,2017-01-28T09:25:00Z,2017-01-28T10:15:00Z,3000.0,2017-01-28T09:27:00Z,2017-01-28T10:17:00Z,3000.0,80,...,18900.0,Sukhoi Superjet-100,3000,97,85,0,12,631200.0,189468,441732
43,136666,Anapa,Belgorod,2017-02-09T09:25:00Z,2017-02-09T10:15:00Z,3000.0,2017-02-09T09:26:00Z,2017-02-09T10:16:00Z,3000.0,87,...,18900.0,Sukhoi Superjet-100,3000,97,85,0,12,664500.0,191638,472862
45,136660,Anapa,Belgorod,2017-02-20T09:25:00Z,2017-02-20T10:15:00Z,3000.0,2017-02-20T09:26:00Z,2017-02-20T10:15:00Z,2940.0,87,...,18900.0,Sukhoi Superjet-100,3000,97,85,0,12,677100.0,190579,486521
48,136645,Anapa,Belgorod,2017-01-05T09:25:00Z,2017-01-05T10:15:00Z,3000.0,2017-01-05T09:29:00Z,2017-01-05T10:20:00Z,3060.0,82,...,18900.0,Sukhoi Superjet-100,3000,97,85,0,12,633000.0,191148,441852
49,136642,Anapa,Belgorod,2017-01-30T09:25:00Z,2017-01-30T10:15:00Z,3000.0,2017-01-30T09:28:00Z,2017-01-30T10:17:00Z,2940.0,64,...,18900.0,Sukhoi Superjet-100,3000,97,85,0,12,531000.0,183449,347551
52,136620,Anapa,Belgorod,2017-02-17T09:25:00Z,2017-02-17T10:15:00Z,3000.0,2017-02-17T09:30:00Z,2017-02-17T10:19:00Z,2940.0,79,...,18900.0,Sukhoi Superjet-100,3000,97,85,0,12,613500.0,188099,425401
54,136609,Anapa,Belgorod,2017-01-08T09:25:00Z,2017-01-08T10:15:00Z,3000.0,2017-01-08T09:28:00Z,2017-01-08T10:18:00Z,3000.0,81,...,18900.0,Sukhoi Superjet-100,3000,97,85,0,12,639300.0,189778,449522

## Вывод

Данные по доходности всех рейсов:

In [43]:
print('Минимальный доход:', data.income.min())
print('Средний доход:', data.income.mean())
print('Максимальный доход:', data.income.max())

Минимальный доход: 345252
Средний доход: 925876.1101694915
Максимальный доход: 1571948

Среди всех представленных рейсов наименьшую доходность показывает направление на Белгород.

Данные по доходности направления на Белгород:

In [44]:
print('Минимальный доход:', data_bel.income.min())
print('Средний доход:', data_bel.income.mean())
print('Максимальный доход:', data_bel.income.max())

Минимальный доход: 345252
Средний доход: 517719.7966101695
Максимальный доход: 571621

Среднее количество проданных билетов на Белгород:

In [45]:
data_bel.tickets_count.mean()

90.1864406779661

Кандидаты на удаление:

In [42]:
data_bel[(data_bel.income < data_bel.income.mean()) & 
         (data_bel.tickets_count < data_bel.tickets_count.mean())][['flight_id', 'income']]

    flight_id  income
3      136937  436322
4      136936  442312
6      136922  419572
9      136888  436942
10     136887  407411
14     136861  498521
16     136855  510662
17     136844  385942
19     136838  477812
21     136823  430492
24     136807  345252
29     136769  502992
30     136767  459842
36     136729  503452
38     136709  498062
40     136678  441732
43     136666  472862
45     136660  486521
48     136645  441852
49     136642  347551
52     136620  425401
54     136609  449522

### Метод оценки расходов.

Расходы рассчитываются как сумма обслуживания в самолете и цена топлива потраченного на перелет.

Обслуживание:
- уборка мусора - 1220 рублей
- очистка санузлов - 2500 рублей
- заправка водой - 1500 рублей
- внутренняя уборка салона - 2500 рублей
- сбор за пользование терминалом - 100 рублей с каждого пассажира + еще 210 рублей за обслуживание
- сбор за авиационную безопасность - 16.500 рублей
- взлет и посадка - 21.000 рублей
- противообледенительная обработка: услуга – 200 долларов + 3,7 доллара за литр жидкости. Среднее потребление жидкости для обработки – 250 литров. Средняя стоимость доллара зимой 2017 - 59.08 рублей. Итого: за обработку – 11816, за жидкость 54649.

Средняя стоимость АВИАГСМ зимой 2017 года( по данным Федерального агентства воздушного транспорта): по Москве - 36,930.6 за тонну(36.9 за литр), по Белгороду - 34,872.5 за тонну(34.8 за литр), по Анапе - 40,494 за тонну (40.5 за литр). В среднем - 37.4 за литр.

Расход топлива самолетом Sukhoi Superjet-100: 1700 л/ч
Расход топлива самолета Boeing 737-300: 2600 л/ч